<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include head partial -->
    <% include ./partials/_head %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <% include ./partials/_header %>
    </header>
    
    <h3>ShortURL: <%= shortURL %></h3>
    <a href="http://localhost:8080/u/<%= shortURL %>" target="_blank">http://urlpet.it/u/<%= shortURL %></a>
    <form class="urls-show" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group">
        <label for="longURL">Edit URL:</label>
        <input type="text" name="longURL" value="<%= longURL %>" class="form-control">
      </div>
      <button type="submit" class="btn btn-outline-warning"> Save</button>
    </form>
  
    <footer>
      <!-- include footer -->
      <% include ./partials/_footer %>
    </footer>
</html>